<!DOCTYPE html>
<html>
<head>
	<title>I.B.M Player</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav >
		<h1>Imotional Based Music Player</h1>
        <ul style="padding-left: 50%;">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
	<div  class="row">
		<div class="input-container col-md-4">
			<h3>Your Imotion Is Analyzed </h3>
			<img src="{{url_for('static', filename='face.jpg')}}">
			<div class="predict">You look like {{data}}</div>
		</div>
		<div class="lang-container col-md-6">
			<div class="title">
				<h3 >{{lang}} songs for your {{data}} mood</h3>
			</div>
				<div class="row audio-row" >
					<div class="col-md-1 name">
						{{s1}}
					</div>
					<div class="col-md-2 music">
						<audio autoplay controls style="background-color: blue;">
							<source src="{{url_for('static', filename='songs/'+s1)}}" type="audio/mpeg">
						</audio>
					</div>
				</div>
				<div class="row audio-row">
					<div class="col-md-1 name">
						{{s2}}
					</div>
					<div class="col-md-2 music">
						<audio controls style="background-color: rgb(0, 255, 0);">
							<source src="{{url_for('static', filename='songs/'+s2)}}" type="audio/mpeg">
						</audio>
					</div>
				</div>
				<div class="row audio-row">
					<div class="col-md-1 name">
						{{s3}}
					</div>
					<div class="col-md-2 music">
						<audio controls style="background-color: rgb(229, 255, 0);">
							<source src="{{url_for('static', filename='songs/'+s3)}}" type="audio/mpeg">
						</audio>
					</div>
				</div>
				<div class="row audio-row">
					<div class="col-md-1 name">
						{{s4}}
					</div>
					<div class="col-md-2 music">
						<audio controls style="background-color: rgb(255, 30, 0);">
							<source src="{{url_for('static', filename='songs/'+s4)}}" type="audio/mpeg">
						</audio>
					</div>
				</div>
				<div class="row audio-row">
					<div class="col-md-1 name">
						{{s5}}
					</div>
					<div class="col-md-2 music">
						<audio controls style="background-color: rgb(247, 0, 255);">
							<source src="{{url_for('static', filename='songs/'+s5)}}" type="audio/mpeg">
						</audio>
					</div>
				</div>
		</div>
	</div>
	<script >

	</script>
</body>
</html>
	

