<!DOCTYPE html>
<html>
<head>
	<title>I.B.M Player</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	
</head>
<body>
    <nav >
		<h1>Imotional Based Music Player</h1>
        <ul style="padding-left: 50%;">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
	<div  class="row">
		o<div class="lang-container col-md-12">
			<div class="title">
				<h3 >Select Preferred Music</h3>
				<h3 >{% if data %}{{data}}{% endif %}</h3>
			</div>
			<form action="{{url_for('emotion_detect')}}" method="POST">
				<div class="row">
					<label><input type="radio" name="type" value="healing" checked="true"><div class="box col-md-2">Healing Music</div></label>
					<label><input type="radio" name="type" value="nature"><div class="box col-md-2">Nature Sounds</div></label>
					<label><input type="radio" name="type" value="songs"><div class="box col-md-2">Songs</div></label>
				</div>
				<div class="row sbtn">
					<button type="submit" class="button" style="vertical-align:middle"><span>Want to change my mood</span></button>
				</div>
			</form>
		</div>
	</div>
	<script >

	</script>
</body>
</html>